<div>
  <div>
    <%= form_for(:digital, :url => { :controller => 'digitals', :action => 'create' }, :html => { :multipart => true }) do |f| %>
    <fieldset>
      <legend><%= Spree::Variant.model_name.human %> "<%= variant.options_text %>"</legend>
      
      <%= f.field_container :current_file do %>
      <strong><%=t 'Product Files' %>:</strong>
      <% if variant.digital? %>
      <ul>
        <% variant.digitals.each do |digital| %>
        <li>
         <%= render digital %>&nbsp;&nbsp;
         <%= link_to t("delete_file"), admin_product_digital_url(:id => digital.id), :confirm => t('delete_file_cofirmation', :filename => digital.attachment_file_name), :method => :delete %>
       </li>
       <% end %>
     </ul>
     <% else %>
     <%=t 'none' %>
     <% end %>
     <% end %>

     <p class="form-buttons">
      <%= f.field_container :file do %>
      <%= f.label :file, t("new_file") %> <span class="required">*</span><br/>
      <%= f.file_field :attachment %>
      <% end %>

      <%= hidden_field_tag 'digital[variant_id]', variant.id %>

      <%= button t('spree_digital.upload') %>
    </p>

  </fieldset>
  <% end %>
</div>
