<div class="yui-g">
  <div class="yui-u first">
  <%= form_for(:digital, :url => { :controller => 'digitals', :action => 'create' }, :html => { :multipart => true }) do |f| %>
    <fieldset>
      <legend><%= Variant.model_name.human %> "<%= variant.options_text %>"</legend>
      
        <%= f.field_container :current_file do %>
          <strong><%=t 'current_file' %>:</strong><br/>
          <% if variant.digital? %>
            <%= render variant.digital %><%=  %>
          <% else %>
            <%=t 'none' %>
          <% end %>
        <% end %>
        
      <p class="form-buttons">
        <% if variant.digital? %>
          <%= link_to t("delete_file"), admin_product_digital_url(:id => variant.digital.id), :confirm => t('delete_file_cofirmation', :filename => variant.digital.attachment_file_name), :method => :delete %>
        <% else  %>

          <%= f.field_container :file do %>
            <%= f.label :file, t("new_file") %> <span class="required">*</span><br/>
            <%= f.file_field :attachment %>
          <% end %>
          
          <%= hidden_field_tag 'digital[variant_id]', variant.id %>

          <%= button t("upload") %>
        <% end %>
      </p>
      
    </fieldset>
  <% end %>
  </div>
</div><br/>